.controls_scrolled
    position    fixed
    top         header_height is defined ? header_height:0

    width   95%
    left    2.5%
    padding 20px 2.5%

    border-left 1px solid #cbcbcb
    border-right 1px solid #cbcbcb

    box-sizing border-box
