popup_airline_height = grid__row_height is defined ? grid__row_height - 10 : 35px

.popup_airline
    height:         popup_airline_height
    line-height:    popup_airline_height

    padding         0 5px
    width           auto
    min-width       120px

    text-align      center
    box-sizing      border-box
