grid__row_height ?= 45px

.grid__row
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content flex-start
    align-items stretch
    height grid__row_height
    width 100%
    cursor pointer
    box-sizing border-box
