.popup_main_row
	position          fixed
	display           flex!important
	align-items       center
	justify-content   center
	left              0!important
	right             0
	top               0!important
	bottom            0
	background-color  rgba(234, 247, 253, 0.5) !important