.grid__cell_head
    border-width 1px
    border-style solid
    border-color #95b8e7
    border-left none
    background-color #e0ecff !important
    text-align center
    font-weight 600
    color #0e2d5f
