.grid__cell_head
	border-width 			1px
	border-style 			solid
	border-color 			#95B8E7
	border-left 			none
	background-color 	#E0ECFF!important
	text-align 				center
	font-weight 			600
	color 						#0E2D5F