@media screen and (max-width 768px)
    .grid_size_sm
        .grid__cell_name_airplane
        .grid__cell_name_status
        .grid__cell_name_delays
            display none

        .grid__cell_name_time
            border-right none
            .grid__cell-inner
                position relative
                white-space nowrap
                width 40px

        .grid__cell-inner_time
            position relative
            left -55px

        .grid__cell_head
            &.grid__cell_name_time
                .grid__cell-inner_time
                    left -72px
