.grid
	position 				  relative
	display 					flex
	flex-direction 	  column
	justify-content 	flex-start
	width 						100%
	height 					  auto
	border 					  1px solid #95B8E7
	transition 			  opacity .3s

.grid_loading:after
	content 					""
	position 				  absolute
	top 							0
	left 						  0
	right 						0
	bottom 					  0
	background-color  #85CAEC
	opacity 					.3
	z-index 					5