.grid__cell_format_delays
    .grid__cell-inner
        display flex
        height 24px
        justify-content center
        align-content center
        align-items center

.grid__cell_format_delays-minutes
    display inline-block
    padding 0 10px 0 3px
    &:last-child
        padding-right 0
