.grid__head_scrolled
    position fixed
    top (header_height is defined ? header_height:0) + (controls_height is defined ? controls_height:0)
    width 95%
    padding 0 2.5%
    left 2.5%
    margin-left 1px
    box-sizing border-box

    .grid__row
        position absolute
        border 1px solid #95b8e7
        border-bottom none
        width 95%
        left 0
        margin 0 2.5%
