.popup__content_main_row

	.grid__row
		display         block!important
		overflow        hidden

	.grid__row_head
	.grid__row_content
		float     left
		width     50%
		height    100%

		&:hover .grid__cell_content
			background-color 			transparent!important

	.grid__row_head
		border-right            1px solid #95B8E7

	.grid__row_content
		float     right

	.grid__row
		.grid__cell
			border-bottom       1px solid #95B8E7!important
			&:last-child
				border-bottom     none!important

	.grid__cell
		display                 flex
		justify-content         center
		align-content           center
		align-items             center
		height                  grid__row_height
		border                  none
		border-bottom           1px solid #95B8E7

		&-inner
			display               flex
			align-items           center
			justify-content       center

		&_content:hover
			background-color      transparent

		&_content:hover:before
		&_content:hover:after
			display               none