.popup__content_main
    width auto
    padding 20px
    height auto
    box-sizing border-box
    background-color #fbfbfb
    &-inner
        display flex
        flex-direction row
        justify-content center
        border 1px solid #95b8e7
