.popup__content_main
	width             auto
	padding           20px
	height            auto
	box-sizing        border-box
	background-color  #FBFBFB
	&-inner
		display           flex
		flex-direction    row
		justify-content   center
		border            1px solid #95B8E7