@media screen and (max-width 700px)
	.controls__control-label
		display 								none

@media screen and (min-width: 320px) and (max-width 600px)
	.controls__inner
		margin-top 						-14px
		flex-direction 				column